
.hero {
    top: 10vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 90vh;
    background-color: #242424;
    overflow: hidden;
}

.hero-wrapper {
    width: 92%;
    height: inherit;
}

.hero-row {
    font-size: 12vh;
    height: 22vh;
}

.hero-row-text {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: inherit;
    width: 100%;
    overflow: hidden;
    color: whitesmoke;
    font-family: 'Syne', sans-serif;
}

.hero-row-text h1 {
    padding: 0;
    margin: 0;
    font-size: 12vh;
    font-size: inherit;
    line-height: 1;
}

.hero-row-separator {
    border: 1px solid gray;
}

#est {
    font-size: 8vh;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .5px;
}

.coordinates {
    font-size: 1.5vw;
}
