
.about-body-container {
    display: flex;
    justify-content: center;
}

.about-body-div {
    top: 14vh;
    position: fixed;
    width: 92%;
    height: 86vh;
    background-color: #242424;
    font-family: 'Syne', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.about-row {
    font-size: 12vh;
    height: 20vh;
}

.about-link-section {
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-around
}

.about-link {
    margin-left: 4vw;
}

.about-row-text {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: inherit;
    overflow: hidden;
    color: whitesmoke;
    font-family: 'Syne', sans-serif;
}

.about-row-text h1 {
    padding: 0;
    margin: 0;
    font-size: inherit;
    line-height: 1;
}

.about-lorem-div {
    margin-top: 4rem;
    width: 100%;
}

.about-lorem-div p {
    font-size: 3vw;
    font-size: 1.75rem;
    line-height: 1.25;
    color: whitesmoke;
}

.lorem-line {
    padding: 0;
    margin: 0;
}

.about-row-separator {
    border: 1px solid gray;
}