
.about-body-container {
    display: flex;
    justify-content: center;
}

.about-body-div {
    top: 6rem;
    position: fixed;
    width: 90%;
    height: 100vh;
    background-color: #242424;
    font-family: 'Syne', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.about-row {
    font-size: 12vh;
    height: 22vh;
}

.about-row-text {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: inherit;
    overflow: hidden;
    font-weight: 100;
    color: whitesmoke;
    font-family: 'Syne', sans-serif;
}

.about-row-text h1 {
    padding: 0;
    margin: 0;
    font-weight: 100;
    font-size: inherit;
    line-height: 1;
}

.about-lorem-div {
    width: 75%;
}

.about-lorem-div p {
    font-weight: 100;
    font-size: 3vw;
    line-height: 1.25;
    font-style: italic;
    color: whitesmoke;
}

.about-row-separator {
    border: 1px solid gray;
}