
.work-body-container {
    display: flex;
    justify-content: center;
}

.work-body-div {
    top: 6rem;
    position: fixed;
    width: 90%;
    height: 100vh;
    background-color: #242424;
    font-family: 'Syne', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.work-row {
    height: 22vh;
    min-height: 10rem;
}

.work-row-text {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: inherit;
    overflow: hidden;
    font-weight: 100;
    color: whitesmoke;
    font-family: 'Syne', sans-serif;
}

.work-row-text h1 {
    padding: 0;
    margin: 0;
    font-weight: 100;
    font-size: 8vw;
}