
.work-body-container {
    display: flex;
    justify-content: center;
}

.work-body-div {
    top: 14vh;
    position: fixed;
    width: 92%;
    height: 86vh;
    background-color: #242424;
    /* font-family: 'Syne', sans-serif; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.work-row {
    font-size: 12vh;
    height: 20vh;
}

.sub-work-row {
    font-size: 3vh;
    height: 4vh;
}

#sub-work-row-text-header {
    font-size: 2vh;
    height: 6vh;
    margin-top: 4vh;
    color: #F8937C;
}

.work-row-text {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: inherit;
    overflow: hidden;
    font-weight: 100;
    color: whitesmoke;
    font-family: 'Syne', sans-serif;
}

.sub-work-row-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    overflow: hidden;
    color: whitesmoke;
    font-family: 'Syne', sans-serif;
    /* font-family: Roboto; */
}

.work-row-text h1 {
    padding: 0;
    margin: 0;
    font-size: inherit;
    line-height: 1;
}

.sub-work-row-text p {
    padding: 0;
    margin: 0;
    font-weight: 300;
    font-size: inherit;
    line-height: 1;
}

/* .work-lorem-div {
    width: 75%;
} */

/* .work-lorem-div p {
    font-weight: 100;
    font-size: 3vw;
    line-height: 1.25;
    color: whitesmoke;
} */

.work-row-separator {
    border: 1px solid gray;
}

#row-1 {
  width: 100%;
    transition: .25s ease-out;
}

#row-1:hover {
    background-color: #F8937C;
    color:#242424;
}

#row-1:hover, p {
  padding: 0 .5rem;
}

.hidden-span {
    display: none;
  }

  .hidden-helvetica, .hidden-new, .hidden-green, .hidden-kalt, .hidden-sid, .hidden-muse, .hidden-rudy {
    text-decoration: none;
    font-size: 3vh;
    height: 4vh;
  }

  .hidden-helvetica:hover .hidden-span {
    display: block;
    position: absolute;
    top: 48%;
    left: 50%;
    translate: -50%;
    animation: fade .5s ease-in-out;
  }

  .hidden-new:hover .hidden-span {
    display: block;
    position: absolute;
    top: 45%;
    left: 50%;
    translate: -50%;
    animation: fade .5s ease-in-out;
  }

  .hidden-green:hover .hidden-span {
    display: block;
    position: absolute;
    top: 43%;
    left: 50%;
    translate: -50%;
    animation: fade .5s ease-in-out;
  }

  .hidden-green {
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
  }

  .hidden-green:hover .hidden-span {
    display: block;
    position: absolute;
  }

  .hidden-kalt:hover .hidden-span {
    display: block;
    position: absolute;
    top: 30%;
    left: 50%;
    translate: -50%;
    animation: fade .5s ease-in-out;
  }

  .hidden-kalt {
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
  }

  .hidden-sid:hover .hidden-span {
    display: block;
    position: absolute;
    top: 27%;
    left: 50%;
    translate: -50%;
    animation: fade .5s ease-in-out;
  }

  .hidden-sid {
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
  }

  .hidden-muse:hover .hidden-span {
    display: block;
    position: absolute;
    top: 25%;
    left: 50%;
    translate: -50%;
    animation: fade .5s ease-in-out;
  }

  .hidden-muse {
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
  }

  .hidden-rudy:hover .hidden-span {
    display: block;
    position: absolute;
    top: 20%;
    left: 50%;
    translate: -50%;
  }

  .hidden-rudy {
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
  }

  .hidden-rudy:hover .hidden-span {
    display: block;
    position: absolute;
    animation: fade .5s ease-in-out;
  }

  /* #hidden-green {
    width: 32rem;
  } */

  .hidden-img {
    width: 36vw;
    min-width: 12rem;
    z-index: -99;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 1px -1px 32px 12px rgba(48,47,47,0.75);
  }

  .tilt-box-wrap {
    width: 36vw;
    min-width: 12rem;
    position: relative;
    transition: all .5s ease-out;
    perspective: 1000px;
  }

  .tilt-box-wrap:hover {
    transition: all .25s linear;
    transform: scale(1);
  }

  .tilt-box {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all .5s ease-out;
    transform: rotateX(0deg) rotateY(0deg);
    perspective: 1000px;
    text-decoration-style: preserve-3d;
  }

  .t-over {
    width: 33.333%;
    height: 33.333%;
    position: absolute;
    z-index: 99;
    cursor: pointer;
  }

  .t-over:nth-child(1){ left: 0; top: 0; }
  .t-over:nth-child(2){ left: 33.333%; top: 0; }
  .t-over:nth-child(3){ left: 66.666%; top: 0; }
  .t-over:nth-child(4){ left: 0; top: 33.333%; }
  .t-over:nth-child(5){ left: 33.333%; top: 33.333%; }
  .t-over:nth-child(6){ left: 66.666%; top: 33.333%; }
  .t-over:nth-child(7){ left: 0; top: 66.666%; }
  .t-over:nth-child(8){ left: 33.333%; top: 66.666%; }
  .t-over:nth-child(9){ left: 66.666%; top: 66.666%; }

  .t-over:nth-child(1):hover ~ .tilt-box{ transform: rotateX(-8deg) rotateY(8deg) }
  .t-over:nth-child(2):hover ~ .tilt-box{ transform: rotateX(-8deg) rotateY(0deg) }
  .t-over:nth-child(3):hover ~ .tilt-box{ transform: rotateX(-8deg) rotateY(-8deg) }
  .t-over:nth-child(4):hover ~ .tilt-box{ transform: rotateX(0deg) rotateY(8deg) }
  .t-over:nth-child(5):hover ~ .tilt-box{ transform: rotateX(0deg) rotateY(0deg) }
  .t-over:nth-child(6):hover ~ .tilt-box{ transform: rotateX(0deg) rotateY(-8deg) }
  .t-over:nth-child(7):hover ~ .tilt-box{ transform: rotateX(8deg) rotateY(8deg) }
  .t-over:nth-child(8):hover ~ .tilt-box{ transform: rotateX(8deg) rotateY(0deg) }
  .t-over:nth-child(9):hover ~ .tilt-box{ transform: rotateX(8deg) rotateY(-8deg) }

  @keyframes fade {
    0% {
      opacity: 0;
      transform: rotateX(20deg);
    }
    100% {
      opacity: 1;
      transform: rotateX(0deg);
    }
  }