
.work-body-container {
    display: flex;
    justify-content: center;
}

.work-body-div {
    top: 6rem;
    position: fixed;
    width: 90%;
    height: 100vh;
    background-color: #242424;
    font-family: 'Syne', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.work-row {
    font-size: 12vh;
    height: 22vh;
}

.sub-work-row {
    font-size: 3vh;
    height: 4vh;
}

#sub-work-row-text-header {
    font-size: 2vh;
    height: 6vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    color: #F8937C;
}

.work-row-text {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: inherit;
    overflow: hidden;
    font-weight: 100;
    color: whitesmoke;
    font-family: 'Syne', sans-serif;
}

.sub-work-row-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    overflow: hidden;
    color: whitesmoke;
    font-family: 'Syne', sans-serif;
}

.work-row-text h1 {
    padding: 0;
    margin: 0;
    font-weight: 100;
    font-size: inherit;
    line-height: 1;
}

.sub-work-row-text p {
    padding: 0;
    margin: 0;
    font-weight: 100;
    font-size: inherit;
    line-height: 1;
}

.work-lorem-div {
    width: 75%;
}

.work-lorem-div p {
    font-weight: 100;
    font-size: 3vw;
    line-height: 1.25;
    color: whitesmoke;
}

.work-row-separator {
    border: 1px solid gray;
}

#row-1 {
    transition: .5s ease-out;
}

#row-1:hover {
    cursor: pointer;
    background-color: #F8937C;
    color:#242424;
}

.hidden-span {
    display: none;
  }

  .hidden-helvetica, .hidden-new, .hidden-green, .hidden-kalt, .hidden-sid, .hidden-muse, .hidden-rudy {
    text-decoration: none;
    font-size: 3vh;
    height: 4vh;
  }

  .hidden-helvetica:hover .hidden-span {
    display: block;
    position: absolute;
    top: 52%;
    left: 35%;
  }

  .hidden-new:hover .hidden-span {
    display: block;
    position: absolute;
    top: 50%;
    left: 35%;
  }

  .hidden-green:hover .hidden-span {
    display: block;
    position: absolute;
    top: 40%;
    left: 35%;
  }

  .hidden-green {
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
  }

  .hidden-green:hover .hidden-span {
    display: block;
    position: absolute;
  }

  .hidden-kalt:hover .hidden-span {
    display: block;
    position: absolute;
    top: 30%;
    left: 35%;
  }

  .hidden-kalt {
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
  }

  .hidden-sid:hover .hidden-span {
    display: block;
    position: absolute;
    top: 25%;
    left: 35%;
  }

  .hidden-sid {
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
  }

  .hidden-muse:hover .hidden-span {
    display: block;
    position: absolute;
    top: 25%;
    left: 35%;
  }

  .hidden-muse {
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
  }

  .hidden-rudy:hover .hidden-span {
    display: block;
    position: absolute;
    top: 20%;
    left: 35%;
  }

  .hidden-rudy {
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
  }

  .hidden-rudy:hover .hidden-span {
    display: block;
    position: absolute;
  }

  #hidden-green {
    width: 32vw;
    height: 32vw;
  }

  .hidden-img {
    width: 32vw;
    min-width: 8rem;
    z-index: -99;
    cursor: pointer;
  }

  .tilt-box-wrap {
    width: 32vw;
    min-width: 8rem;
    position: relative;
    transition: all .5s ease-out;
    perspective: 1000px;
  }

  .tilt-box-wrap:hover {
    transition: all .25s linear;
    transform: scale(1);
  }

  .tilt-box {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all .5s ease-out;
    transform: rotateX(0deg) rotateY(0deg);
    perspective: 1000px;
    text-decoration-style: preserve-3d;
  }

  .t-over {
    width: 33.333%;
    height: 33.333%;
    position: absolute;
    z-index: 99;
    cursor: pointer;
  }

  .t-over:nth-child(1){ left: 0; top: 0; }
  .t-over:nth-child(2){ left: 33.333%; top: 0; }
  .t-over:nth-child(3){ left: 66.666%; top: 0; }
  .t-over:nth-child(4){ left: 0; top: 33.333%; }
  .t-over:nth-child(5){ left: 33.333%; top: 33.333%; }
  .t-over:nth-child(6){ left: 66.666%; top: 33.333%; }
  .t-over:nth-child(7){ left: 0; top: 66.666%; }
  .t-over:nth-child(8){ left: 33.333%; top: 66.666%; }
  .t-over:nth-child(9){ left: 66.666%; top: 66.666%; }

  .t-over:nth-child(1):hover ~ .tilt-box{ transform: rotateX(-8deg) rotateY(8deg) }
  .t-over:nth-child(2):hover ~ .tilt-box{ transform: rotateX(-8deg) rotateY(0deg) }
  .t-over:nth-child(3):hover ~ .tilt-box{ transform: rotateX(-8deg) rotateY(-8deg) }
  .t-over:nth-child(4):hover ~ .tilt-box{ transform: rotateX(0deg) rotateY(8deg) }
  .t-over:nth-child(5):hover ~ .tilt-box{ transform: rotateX(0deg) rotateY(0deg) }
  .t-over:nth-child(6):hover ~ .tilt-box{ transform: rotateX(0deg) rotateY(-8deg) }
  .t-over:nth-child(7):hover ~ .tilt-box{ transform: rotateX(8deg) rotateY(8deg) }
  .t-over:nth-child(8):hover ~ .tilt-box{ transform: rotateX(8deg) rotateY(0deg) }
  .t-over:nth-child(9):hover ~ .tilt-box{ transform: rotateX(8deg) rotateY(-8deg) }