
#clock {
    /* font-family: 'Syne', sans-serif; */
    font-family: Roboto;
    color: #242424;
    font-size: 1.25rem;
    font-weight: 400;
    height: 3rem;
    width: 7rem;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25rem;
}